
MSPR/src/main/java/acme/util/Proprietes.java
MSPR/.settings/org.eclipse.jdt.core.prefs
MSPR/.classpath
MSPR/.project
MSPR/.settings/org.eclipse.m2e.core.prefs
MSPR/.settings/org.eclipse.wst.common.component
MSPR/.project
MSPR/.settings/org.eclipse.wst.common.project.facet.core.xml
MSPR/.settings/org.eclipse.wst.validation.prefs
MSPR/pom.xml
MSPR/.classpath
MSPR/src/main/webapp/WEB-INF/lib/mysql-connector-java-5.1.18-bin.jar
